@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
Typography is the way that text is arranged and represented
*/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    /* text-decoration: none; 
    text-transform: capitalize;
    text-align: justify;
    text-indent: 10rem; */
    line-height: 1.5;
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.1em; */
    /* font-weight: 800; */
    /* font-style: italic; */
}

